body {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.top-section {
    background-color: #1f2937;
    color: #f9faf8;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.top-links {
    list-style-type: none;
    gap: 16px;
    display: flex;
}

.top-container {
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sign-up-button {
    background-color: #3882F6;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    width: fit-content;
}

.top-box {
    background-color: gray;
    width: 250px;
    height: auto;
}

.image-section {
    display: flex;
    margin: 40px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 36px;
    font-weight: bolder;
}

.box-container {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.box-and-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: lighter;
}

.box {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 5px;
}